<!-- In course_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course['name'] }} - Assignments</title>
    <link rel="stylesheet" href="/static/css/assignment.css">
</head>
<body>
    <div class="nav">
        <div class="img-container">
            <img src="/static/img/SE_logo_tranparent.svg"/>
            <span>Software Engineering</span>
        </div>
    </div>
    
    <h1>Assignments for {{ course['name'] }}</h1>

    <div id="course-name" style="display: none;">{{ course['name'] }}</div>

    <ul id="assignment-list">
        <!-- Assignments will be dynamically added here -->
    </ul>

    <footer>
        <p>&copy; 2024 Software Engineering Department. All rights reserved.</p>
    </footer>

    <script src="/static/js/course_detail.js"></script>
</body>
</html>
