<!DOCTYPE html>
<html>
    <head>
        <title>SE Website</title>
        <link href="styles.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <!-- Navigation section -->
            <div class="nav">
                <div class="img-container">
                    <img src="./img/SE_logo_tranparent.svg"/>
                    <span>Software Engineering</span>
                </div>
               
                <nav id="nav">
                    <ul id="nav-ul">
                        <li><a href="#about">ABOUT</a></li>
                        <li><a href="#program">PROGRAM</a></li>
                        <li><a href="#admission">Admission</a></li>
                        <li><a href="#news">News</a></li>
                        <li><i class="fa-solid fa-user" id="login"></i></li>
                    </ul>
                </nav>
                <div class="login-form" id="login-form">
                    <div class="closeBtn"><i class="fa-solid fa-xmark"></i></div>
                    <h3>Login</h3>
                    <form class="student">
                        <label for="stuID"> ID</label>
                        <input type="text" id="stuID" name="stuID" placeholder="66xxxxxx" required/>
                        
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required/>
                        <i class="fa-solid fa-eye" id="eye"></i>
                        <button type="submit" class="btn-login">Login</button>
                    </form>
                </div>
                <div class="dropdown" id="bar">
                    <i class="fa-solid fa-bars"></i>
                </div>
                
            </div>
        </header>

        <!-- About section start -->
        <section class="about" id="about">
            <div class="banner">
                <h3>International Program <br/> B.Eng Software Engineering </h3>
                <button class="btn" type="submit"><a href="#admission">LEARN MORE</a></button>
            </div>
        </section>
        <section id="program" class="program">
            <div class="se1">
                <h2>What is Software Engineering?</h2>
                <div class="divider"></div>
                <p>Software engineering (SE) is an engineering discipline concerning all aspects of software production, including software analysis, design, development, testing, and deployment. SE requires profound abstract and logical thinking and the application of mathematics, logic, and computer science in order to produce efficient and reliable software with the available resources.</p>
            </div>
            <div class="se2">
                <h2>Why Choose the International Program B.Eng. Software Engineering (International Program) Course at KMITL ?</h2>
                <div class="divider"></div>
                <p>The program aims at training the students to become skilled software engineers capable of working confidently in the international software industry. The program also provides solid computer science foundations so that the students can pursue graduate study in other computing-related fields. The program offers 3 specializations: Enterprise SE, Internet of Things, and Intelligent Systems, and collaborates with the University of Glasgow (UK) to offer a double-degree study option.</p>

                <p> <span>KMITL-Glasgow Double-Degree Program in Software Engineering</span> is a collaboration between KMITL and the University of Glasgow, UK. The program enables qualified students who have completed Year 2 in the SE program at the International College to enter Years 3 and 4 of the Software Engineering program at the University of Glasgow’s School of Computing Science. At Glasgow, the student will have an opportunity to study with world-renowned academics, as well as working on team projects with multi-national talents. This is an excellent opportunity for the students who wish to gain studying and living experience in the UK.</p>
                <p><span>The KMITL-Queensland Double-Degree Program in Software Engineering</span> is a collaboration between KMITL and the University of Queensland (UQ), Australia. The program enables qualified students who have completed Year 2 in the Software Engineering program at KMITL to enter Years 3 and 4 of the Software Engineering program at the University of Queensland in Australia, and, upon completion, be awarded with software engineering degrees from both KMITL and UQ. The collaborative program aims to equip its students with advanced knowledge and skills of software engineering to prepare them for careers in the international software industry, as well as for research and postgraduate study in all computing-related fields.</p>
            </div>

        </section>
        <!-- About section end -->


        <!-- Admission Section Start -->
        <section class="admission" id="admission">
            <h2>Application Period</h2>
            <div class="divider"></div>
            <div class="card-container">
                <div class="card">
                    <h4>Direct Admission 1.1</h4>
                    <p>Early Round</p>
                    <h3>1-31</h3>
                    <p>Oct 2567</p>
                    <button class="btn" type="submit"><a href="https://new.reg.kmitl.ac.th/admission/#/" target="_blank">Apply</a></button>
                </div>
                <div class="card">
                    <h4>Direct Admission 1.1</h4>
                    <p>Early Round</p>
                    <h3>1-31</h3>
                    <p>Oct 2567</p>
                    <button class="btn" type="submit"><a href="https://new.reg.kmitl.ac.th/admission/#/" target="_blank">Apply</a></button>
                </div>
                <div class="card">
                    <h4>Direct Admission 1.1</h4>
                    <p>Early Round</p>
                    <h3>1-31</h3>
                    <p>Oct 2567</p>
                    <button class="btn" type="submit"><a href="https://new.reg.kmitl.ac.th/admission/#/" target="_blank">Apply</a></button>
                </div>
                <div class="card">
                    <h4>Direct Admission 1.1</h4>
                    <p>Early Round</p>
                    <h3>1-31</h3>
                    <p>Oct 2567</p>
                    <button class="btn" type="submit"><a href="https://new.reg.kmitl.ac.th/admission/#/" target="_blank">Apply</a></button>
                </div>
                <div class="card">
                    <h4>Direct Admission 1.1</h4>
                    <p>Early Round</p>
                    <h3>1-31</h3>
                    <p>Oct 2567</p>
                    <button class="btn" type="submit"><a href="https://new.reg.kmitl.ac.th/admission/#/" target="_blank">Apply</a></button>
                </div>
        </div>
        </section>
    </body>
    <script type="module" src="script.js"></script>
</html>